.bug {
  padding: 15px;
}

.bug__selectors,
.example {
  display: flex;
  justify-content: space-between;
}

.example {
  height: 300px;
}
.example__description {
  width: 75%;
}

.example__screenshot {
  width: 25%;
  height: 100%;
}

img {
  height: 100%;
  width: 100%;
}
